/* Google Font: QuickSand, RaleWay */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* 
========================================
--------------Shared Styles-------------
========================================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    /* colors */

	/* nav links colors */
	--color-primary-orange: #fea301;
	--color-primary-blue: #01acfd;
	--color-primary-dark-teal: #05d4df;
	--color-primary-purple: #5d58ef;

	/* text colors */
	--color-secondary-dark: #111111;
	--color-secondary-gray: #202020;
    --color-secondary-light-gray: #666666;
	--color-secondary-neutral: #808080;

	/* card link colors */
	--color-accent-lightblue: #64c8ff;
	--color-accent-yellow: #f0aa00;
	--color-accent-purple: #8700ff;

    /* body colors */
	--color-neutral-black: #000000;
	--color-neutral-white: #ffffff;

    /* background colors */
    --bg-primary: linear-gradient(to top, #fea3014d, #ffffff4d);
    --bg-secondary: #01ACFD;
    --bg-body: #F7F7F7;

	/* button background colors */
	--button-bg-primary: #fea301;
	--button-bg-secondary: #111111;
	--button-bg-green: #95b226;
	--button-bg-purple: #5d58f0;
	--button-bg-teal: #3cd8e8;

    /* card bg */
    --card-bg-primary: linear-gradient(to top, rgba(255, 255, 255, 0) 40%, #DEF5FF);
    --card-bg-secondary: linear-gradient(to top, rgba(255, 255, 255, 0) 40%, #FFF4DC);
    --card-bg-accent: linear-gradient(to top, rgba(255, 255, 255, 0) 40%, #EEE1FF);

    /* card border */
    --card-border-primary: 1px solid #DEF5FF;
    --card-border-secondary: 1px solid #FFF4DC;
    --card-border-accent: 1px solid #EEE1FF;

    /* Font Sizes */

    --font-size-xxl: 56px; /* 56px */
    --font-size-xl: 46px; /* 46px */
    --font-size-lg: 32px; /* 32px */
    --font-size-md: 24px; /* 24px */
    --font-size-sm: 20px; /* 20px */
    --font-size-xs: 15px; /* 15px */
    --font-size-xxs: 10px; /* 10px */
}


.font-quicksand {
    font-family: "Quicksand", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.font-raleway {
    font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
    background-color: var(--bg-body);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

section {
    padding: 60px 20px;
}

.section-title {
    font-size: var(--font-size-xl);
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    color: var(--color-neutral-black);
}

.display-flex {
    display: flex;
}

.text-primary {
    color: var(--color-primary-orange);
}

.text-secondary {
    color: var(--color-primary-blue);
}

.text-teal {
    color: var(--color-primary-dark-teal);
}

.text-purple {
    color: var(--color-primary-purple);
}

/* card link colors */
.link-primary {
    color: var(--color-accent-lightblue);
} 

.link-secondary {
    color: var(--color-accent-yellow);
}

.link-accent {
    color: var(--color-accent-purple);
}


.btn {
    color: var(--color-neutral-white);
    font-size: var(--font-size-sm);
    border-radius: 12px;
    font-weight: 600;
    padding: 10px 80px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn-primary {
    border: 1px solid var(--color-primary-orange);
    background-color: var(--button-bg-primary);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--color-primary-orange);
}

.btn-secondary {
    border: 1px solid var(--color-secondary-dark);
    background-color: var(--button-bg-secondary);
}

.btn-secondary:hover {
    color: var(--color-secondary-dark);
    background: transparent;
}

.badge-teal {
    border: 1px solid var(--button-bg-teal);
    background-color: var(--button-bg-teal);
}

.badge-purple {
    border: 1px solid var(--button-bg-purple);
    background-color: var(--button-bg-purple);
}

.badge-green {
    border: 1px solid var(--button-bg-green);
    background-color: var(--button-bg-green);
}

/* 
========================================
--------------Navbar Styles-------------
========================================
*/

.navbar,
.brand, 
.nav-links,
.banner {
    align-items: center;
    justify-content: space-between;
}

.navbar {
    padding: 20px;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav-title {
    color: var(--color-secondary-dark);
    font-size: var(--font-size-lg);
    font-weight: 700;
    line-height: 1.875rem; /* 30px */
}

.nav-links {
    margin: 16px 0;
    gap: 32px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-decoration: none;
}

.hamburger-icon {
    display: none;
    font-size: var(--font-size-lg);
    color: var(--color-secondary-dark);
}

/* 
========================================
--------------Banner Styles-------------
========================================
*/

.banner {
    padding: 20px;
    gap: 50px;
}

.banner-content {
    flex-basis: 55%;
    flex-direction: column;
    gap: 24px;
}

.banner-img {
    flex-basis: calc(45% - 50px - 40px);
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-title {
    font-size: var(--font-size-xxl);
    font-weight: 700;
    color: var(--color-secondary-dark);
    line-height: 60px;
}

.banner-description {
    font-size: var(--font-size-sm);
    color: var(--color-secondary-dark);
}

/* 
========================================
-----------Curriculum Styles------------
========================================
*/

.curriculum,
.stories {
    gap: 80px;
    flex-direction: column;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.curriculum-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.curriculum-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 40px;
    border-radius: 18px;
    max-width: 370px;
    text-align: center;
    margin: 0 auto;
}

.curriculum-card:nth-child(1) {
    background: var(--card-bg-primary);
    border: var(--card-border-primary);
}

.curriculum-card:nth-child(2) {
    background: var(--card-bg-secondary);
    border: var(--card-border-secondary);
}

.curriculum-card:nth-child(3) {
    background: var(--card-bg-accent);
    border: var(--card-border-accent);
}

.curriculum-card-title {
    font-size: var(--font-size-md);
    font-weight: 700;
    line-height: 30px;
    color: var(--color-secondary-gray);
}

.curriculum-card-description {
    font-size: var(--font-size-xs);
    color: var(--color-secondary-neutral);
    line-height: 28px;
    font-weight: 500;
}

.link-btn {
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
}

.btn-container {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-prev, 
.btn-next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size-md);
    color: var(--color-neutral-white);
    transition: 0.5s;
}


/* 
========================================
---------Story Section Styles-----------
========================================
*/

.stories-wrapper {
    background: var(--bg-primary);
}

.stories {
    align-items: center;
}

.story-card-container {
    display: grid;
    grid-template-columns: 45% repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 18px;
}

.story-card {
    max-width: 540px;
    grid-row: span 2;
    border-radius: 16px;
    background-color: var(--color-neutral-white);
}

.card-img-container {
    position: relative;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
}

.date-btn {
    position: absolute;
    left: 38px;
    bottom: -20px;
    z-index: 10;
    font-weight: 500;
    font-size: var(--font-size-xs);
    line-height: 28px;
    padding: 10px 18px;
    border-radius: 48px;
    color: var(--color-neutral-white);
    cursor: pointer;
    transition: 0.5s;
}

.date-btn:hover {
    transform: scale(1.05);
}

.story-card-content {
    padding: 34px 38px;
}

.story-card-title {
    font-size: var(--font-size-md);
    line-height: 38px;
    font-weight: 700;
    color: var(--color-neutral-black);
    margin-bottom: 48px;
}

.story-card-description {
    font-size: var(--font-size-xs);
    line-height: 28px;
    color: var(--color-secondary-light-gray);
}


.story-sub-card {
    background-color: var(--color-neutral-white);
    border-radius: 16px;
}

.story-sub-card-title {
    padding: 43px 54px 33px 38px;
    font-size: var(--font-size-xs);
    font-weight: 700;
    color: var(--color-neutral-black);
}

/* 
========================================
-----------Responsive Mobile------------
========================================
*/

@media screen and (max-width: 576px) {
    /* 
    ========================================
    ---------Shared Styles Mobile-----------
    ========================================
    */

    .btn {
        font-size: var(--font-size-xs);
        padding: 10px 24px;
        border-radius: 8px;
    }
    
    section {
        padding: 40px 16px;
    }

    .section-title {
        font-size: var(--font-size-md);
    }

    /* 
    ========================================
    ---------Navbar Styles Mobile-----------
    ========================================
    */
    .navbar {
        padding: 12px 16px;
        border-bottom: 0.5px solid var(--color-primary-orange);
    }

    .nav-title,
    .nav-links,
    .nav-btn {
        display: none;
    }

    .logo {
        width: 75%;
        height: 75%;
    }

    .hamburger-icon {
        display: block;
    }
    /* 
    ========================================
    ---------Banner Styles Mobile-----------
    ========================================
    */

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        text-align: center;
        gap: 18px;
    }
    
    .banner-title {
        font-size: var(--font-size-lg);
        line-height: 40px;
    }

    .banner-description {
        font-size: var(--font-size-xs);
        font-weight: 500;
    }

    /* 
    ========================================
    -------Curriculum Styles Mobile---------
    ========================================
    */

    .curriculum {
        gap: 20px;
    }

    .curriculum-card-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .curriculum-card {
        max-width: 90%;
        width: 100%;
        padding: 36px 28px;
        gap: 22px;
    }

    .curriculum-card-title {
        font-size: var(--font-size-xs);
    }
    
    .curriculum-card-description {
        max-width: 200px;
        margin: 0 auto;
        line-height: 20px;
        font-size: var(--font-size-xxs);
    }

    .link-btn {
        font-size: var(--font-size-xxs);
    }

    .btn-container {
        display: none;
    }
}

/* 
========================================
-----------Responsive Tablet------------
========================================
*/

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* 
    ========================================
    ---------Shared Styles Tablet-----------
    ========================================
    */

    .btn {
        font-size: var(--font-size-xs);
        padding: 10px 40px;
        border-radius: 8px;
    }

    .section-title {
        font-size: var(--font-size-lg);
    }
    /* 
    ========================================
    ---------Navbar Styles Tablet-----------
    ========================================
    */

    .nav-title {
        display: none;
    }

    .logo {
        width: 75%;
        height: 75%;
    }

    .nav-links {
        gap: 24px;
    }

    .nav-link {
        font-size: var(--font-size-xs);
    }

    .hamburger-icon {
        display: none;
    }

    /* 
    ========================================
    ---------Banner Styles Tablet-----------
    ========================================
    */

    .banner {
        gap: 24px;
    }

    .banner-content {
        gap: 18px;
    }

    .banner-img {
        flex-basis: calc(45% - 24px - 20px);
    }
    
    .banner-title {
        font-size: var(--font-size-lg);
        line-height: 40px;
    }

    .banner-description {
        font-size: var(--font-size-xs);
        font-weight: 500;
    }

    /* 
    ========================================
    -------Curriculum Styles Tablet---------
    ========================================
    */

    .curriculum {
        gap: 40px;
    }

    .curriculum-card-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .curriculum-card {
        max-width: 90%;
        padding: 30px;
        width: 100%;
        gap: 20px;
    }

    .curriculum-card:last-child {
        grid-column: span 2;
    }

    .curriculum-card-title {
        font-size: var(--font-size-sm);
    }
    
    .curriculum-card-description {
        line-height: 20px;
        font-size: var(--font-size-xxs);
    }
    
    .curriculum-card:last-child .curriculum-card-description {
        max-width: 80%;
        margin: 0 auto;
    }

    .link-btn {
        font-size: var(--font-size-xxs);
    }

    .btn-prev, .btn-next {
        width: 40px;
        height: 40px;
        font-size: var(--font-size-sm);
    }
}
