/* Google Font: QuickSand, RaleWay */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* 
========================================
--------------Shared Styles-------------
========================================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    /* colors */

	/* nav links colors */
	--color-primary-orange: #fea301;
	--color-primary-blue: #01acfd;
	--color-primary-dark-teal: #05d4df;
	--color-primary-purple: #5d58ef;

	/* text colors */
	--color-secondary-dark: #111111;
	--color-secondary-gray: #202020;
	--color-secondary-neutral: #808080;

	/* card link colors */
	--color-accent-lightblue: #64c8ff;
	--color-accent-yellow: #f0aa00;
	--color-accent-purple: #8700ff;

	--color-neutral-black: #000000;
	--color-neutral-white: #ffffff;

    /* background colors */
    --bg-primary: linear-gradient(to top, #FEA301, #FFFFFF);
    --bg-secondary: #01ACFD;
    --bg-body: #F7F7F7;

	/* button background colors */
	--button-bg-primary: #fea301;
	--button-bg-secondary: #111111;
	--button-bg-green: #95b226;
	--button-bg-purple: #5d58f0;
	--button-bg-teal: #3cd8e8;

    /* card bg */
    --card-bg-primary: linear-gradient(to bottom, #DEF5FF 40%, #ffffff00);
    --card-bg-secondary: linear-gradient(to bottom, #FFF4DC 40%, #ffffff00);
    --card-bg-accent: linear-gradient(to bottom, #EEE1FF 40%, #FFFFFF00);
    

    /* Font Sizes */

    --font-size-xxl: 56px; /* 56px */
    --font-size-xl: 46px; /* 46px */
    --font-size-lg: 32px; /* 32px */
    --font-size-md: 24px; /* 24px */
    --font-size-sm: 20px; /* 20px */
    --font-size-xs: 15px; /* 15px */
}


.font-quicksand {
    font-family: "Quicksand", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.font-raleway {
    font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
    background-color: var(--bg-body);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

section {
    padding: 0 20px;
}

.display-flex {
    display: flex;
}

.text-primary {
    color: var(--color-primary-orange);
}

.text-secondary {
    color: var(--color-primary-blue);
}

.text-teal {
    color: var(--color-primary-dark-teal);
}

.text-purple {
    color: var(--color-primary-purple);
}

.btn {
    color: var(--color-neutral-white);
    font-size: var(--font-size-sm);
    border-radius: 12px;
    font-weight: 600;
    padding: 10px 80px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn-primary {
    border: 1px solid var(--color-primary-orange);
    background-color: var(--button-bg-primary);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--color-primary-orange);
}

.btn-secondary {
    border: 1px solid var(--color-secondary-dark);
    background-color: var(--button-bg-secondary);
}

.btn-secondary:hover {
    color: var(--color-secondary-dark);
    background: transparent;
}

/* 
========================================
--------------Navbar Styles-------------
========================================
*/

.navbar,
.brand, 
.nav-links,
.banner {
    align-items: center;
    justify-content: space-between;
}

.navbar {
    padding: 20px;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav-title {
    color: var(--color-secondary-dark);
    font-size: var(--font-size-lg);
    font-weight: 700;
    line-height: 1.875rem; /* 30px */
}

.nav-links {
    margin: 16px 0;
    gap: 32px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-decoration: none;
}

.hamburger-icon {
    display: none;
    font-size: var(--font-size-lg);
    color: var(--color-secondary-dark);
}

/* 
========================================
--------------Banner Styles-------------
========================================
*/

.banner {
    gap: 50px;
}

.banner-content {
    flex-basis: 55%;
    flex-direction: column;
    gap: 24px;
}

.banner-img {
    flex-basis: calc(45% - 50px - 40px);
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-title {
    font-size: var(--font-size-xxl);
    font-weight: 700;
    color: var(--color-secondary-dark);
    line-height: 60px;
}


/* 
========================================
-----------Responsive Mobile------------
========================================
*/

@media screen and (max-width: 576px) {
    /* 
    ========================================
    ---------Shared Styles Mobile-----------
    ========================================
    */

    /* .container {
        padding-left: 16px;
        padding-right: 16px;
    } */

    /* 
    ========================================
    ---------Navbar Styles Mobile-----------
    ========================================
    */
    .navbar {
        padding: 12px 16px;
        border-bottom: 0.5px solid var(--color-primary-orange);
    }

    .nav-title,
    .nav-links,
    .nav-btn {
        display: none;
    }

    .logo {
        width: 75%;
        height: 75%;
    }

    .hamburger-icon {
        display: block;
    }
    /* 
    ========================================
    ---------Banner Styles Mobile-----------
    ========================================
    */

    
}

/* 
========================================
-----------Responsive Tablet------------
========================================
*/

@media screen and (min-width: 577px) and (max-width: 992px) {
    /* 
    ========================================
    ---------Shared Styles Tablet-----------
    ========================================
    */

    .btn {
        font-size: var(--font-size-xs);
        padding: 10px 40px;
        border-radius: 8px;
    }


    /* 
    ========================================
    ---------Navbar Styles Tablet-----------
    ========================================
    */

    .nav-title {
        display: none;
    }

    .logo {
        width: 75%;
        height: 75%;
    }

    .nav-links {
        gap: 24px;
    }

    .nav-link {
        font-size: var(--font-size-xs);
    }

    .hamburger-icon {
        display: none;
    }
}